.fooooot{
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.row{
    margin-left: -50px;
}

.dropdown{
    /*position: relative;*/
    /*display: inline-block;*/
}
.dropdown-content{
    /*display: none;*/
    /*position: absolute;*/
    /*background-color: #f9f9f9;*/
    /*min-width: 100%;*/
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    /*padding: 12px 16px;*/
    /*overflow: auto;*/
}
.dropdown:hover .dropdown-content{
    display: block;
}
